.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  padding-top: 5%;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
}

.searchButton {
  align-self: center;
}

.tableContainer {
  width: 80%;
  margin: 3% 10%;
}

.copyButton {
  position: fixed;
  top: 50%;
  left: 90%;
  z-index: 999;
}
